.navBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: azure;
}

.link {
    border: 1px solid black;
    padding: 2px;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: azure;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;

    .img {
        height: 100%;
    }
}

.counts {
    color: red;
    display: flex;
    align-items: center;
    width: 100px;
    margin: 10px
}

.logo {
    display: flex;
    align-items: center;
}